<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <form
      method="POST"
      enctype="multipart/form-data"
      action="{{url_for('update',upload_id=upload.id)}}"
    >
      {{form.hidden_tag()}} {{ form.filename.label }} {{ form.filename() }} {{
      form.submit() }}
    </form>
      <a href="{{url_for('home')}}">Home </a>
  </body>
</html>
